@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    margin: 20px auto;
    background-color: #273746;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
}
