@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    margin: 20px auto;
    background-color: #273746;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
}

#createPost {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2a96d;
    color: #1d3042;
    font-family: "Markazi Text", Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px 24px;
    margin: 20px 0 20px auto;
    box-shadow: 2px 6px 16px rgba(0,0,0,0.12);
    cursor: pointer;
    transition: background 0.2s, color 0.2s, box-shadow 0.2s;
    gap: 8px;
}

#createPost:hover {
    background-color: #273746;
    color: #d2a96d;
    box-shadow: 2px 8px 20px rgba(0,0,0,0.18);
    border: 2px solid #d2a96d;
}

#penIcon {
    margin-left: 8px;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    fill: currentColor;
}
